* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto Serif', 'Roboto Condensed', 'Poppins', sans-serif;
    box-sizing: border-box;
}

.hero {
    height: 100vh;
    width: 100%;
    background-image: url(../assets/principal.jfif);
    background-size: cover;
    background-position: center;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 8% 10px 8%;

    /* background: #0D2C5D; */
}

.logo {
    color: white;
    font-size: 45px;
    letter-spacing: 1px;
    cursor: point;
}

span {
    color: #f9004d;
}

nav ul li {
    font-size: 18px;
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: 600;
    text-transform: capitalize;
    display: flex;
}

nav ul li a:hover {
    color: #f9004d;
    transition: .4s;
    transform: scale(1.2);
}

.btn {
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: 500;
    padding: 10px 25px;
    border-radius: 30px;
}

.btn:hover {
    color: #f9004d;
    background-color: white;
    border: 2px solid #f9004d;
    transition: transform .5s;
    transform: scale(1.2);
}

.content {
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
}

.content h1 {
    color: white;
    margin: 20px 0px 20px;
    font-size: 75px;
}

.content h3 {
    color: white;
    font-size: 25px;
    margin-bottom: 50px;
}

.content h4 {
    color: #fcfc;
    letter-spacing: 2px;
    font-size: 20px;
}

.newslatter form {
    width: 380px;
    max-width: 100%;
    position: relative;
}

.newslatter form input:first-child {
    display: inline-block;
    width: 100%;
    padding: 16px 130px 16px 15px;
    border: 2px solid #f9004d;
    outline: none;
    border-radius: 90px;
}

.newslatter form input:last-child {
    position: absolute;
    display: inline-block;
    outline: none;
    border: none;
    padding: 10px 30px;
    border-radius: 30px;
    background-color: #f9004d;
    color: white;
    box-shadow: 0 0 5px #000, 0 0 15px #858585;
    top: 8px;
    right: 10px;
    transition: transform .4s;
}

.newslatter form input:last-child:hover {
    transform: scale(1.07);
    color: #f9004d;
    background-color: white;
    border: 2px solid #f9004d;
    padding: 8px 30px;
}

.main {
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about {
    width: 100%;
    padding: 100px 0;
    background-color: #1a242b;
}

.about img {
    height: auto;
    width: 430px;
    border-radius: 7px;
}

.about-text {
    width: 550px;
}

.about-text h2 {
    color: white;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.about-text h5 {
    color: white;
    font-size: 22px;
    text-transform: capitalize;
    margin-bottom: 20px;
    letter-spacing: 2px;
}

.about-text p {
    color: #fcfc;
    font-size: 18px;
    margin-bottom: 45px;
    letter-spacing: 1px;
    line-height: 28px;
}

button {
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: 500;
    padding: 10px 25px;
    border-radius: 30px;
    transition: .4s;
}

button:hover {
    color: #f9004d;
    background-color: white;
    border: 2px solid #f9004d;
    transform: scale(1.2);
}

.service {
    background: #191919;
    width: 100%;
    padding: 100px 0px;
}

.title h2 {
    color: white;
    font-size: 75px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}

.card {
    height: 400px;
    width: 335px;
    padding: 20px 35px;
    background: #1a242b;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.card img {
    height: 50px;
    height: 50px;
    margin: 25px 0;
}

h5 {
    color: white;
    font-size: 23px;
    margin-bottom: 15px;
}

.pra p {
    color: #fcfc;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
}

.card .button {
    height: 50px;
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: 500;
    padding: 10px 25px;
    border-radius: 30px;
    transition: .4s;
}

.card .button:hover {
    color: #f9004d;
    background-color: white;
    border: 2px solid #f9004d;
    transform: scale(1.15);
}

.contact-me {
    width: 100%;
    height: 290px;
    background: #1a242b;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.contact-me p {
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25px;
}

.contact-me .button-two {
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: 500;
    padding: 10px 25px;
    border-radius: 30px;
    transition: .4s;
}

.contact-me .button-two:hover {
    color: #f9004d;
    background-color: white;
    border: 2px solid #f9004d;
    transform: scale(1.2);
}

footer {
    position: relative;
    width: 100%;
    height: 350px;
    background: #191919;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer p:nth-child(1) {
    font-size: 30px;
    color: white;
    margin-bottom: 20px;
    font-weight: bold;
}

footer p:nth-child(2) {
    font-size: 17px;
    color: white;
    width: 500px;
    text-align: center;
    line-height: 26px;
}

.social {
    display: flex;
}

.social a {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f9004d;
    border-radius: 50%;
    margin: 22px 15px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    transition: .4s;
}

.social a:hover {
    color: #f9004d;
    background-color: white;
    border: 2px solid #f9004d;
    transform: scale(1.2);
}

.end {
    position: absolute;
    color: white;
    bottom: 25px;
    font-size: 15px;
}

/* https://www.youtube.com/watch?v=lgeoAUvoRJU */